<!DOCTYPE html>
<html lang="pt-bt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./home.css">
  </link>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
  </link>
</head>

<body>
  <div class="topnav" id="myTopnav">
    <a href="/movimentacao">Movimentação</a>
    <a href="/cobranca">Cobrança</a>
    <form action="/logout" method="POST" class="Logout">
      <button class="loggout-btn">Logout</button>
    </form>
  </div>

  <div class='logo-home-container'>
    <img class='logo-home' src="{{ url_for('static', filename='images/accounticoLogo.png') }}"
      alt="Background. Imagem de calculadora"></img>
  </div>

  <div id="quad-superior" action="/totalcobrancas" method="GET">
    <div class="container-recebimento">
      <h2 class="pagamento">Valor a receber:<br></h2>
      <h2 class="pagamento">{{ totalCobranca }}</h2>

    </div>

    <div class="container-pagamento">
      <h2 class="contas"> Valor a pagar:<br></h2>
      <h2 class="contas">{{ totalMovimentos }}</h2>
    </div>
  </div>
  </div>
</body>

</html>