<html>

<head>
    <title>Accountico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/relatorio.css') }}">
    </link>
</head>


<body>
    <h3>Relatório de contas:</h3>
    <table class="table">
        <colgroup>
            <col class="vermelho">
            <col class="amarelo">
            <col class="azul">
          </colgroup>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Valor</td>
        </tr>
        <tr>
            <td>01</td>
            <td>Conta de Luz</td>
            <td>R$ 15,00</td>
        </tr>
    </table>
</body>   
</html>