<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Cobrança</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/report.css') }}">
</head>
<body>
    <h1 class="title">Cobrança</h1>
    <table>
        <tr>
            <td class="titulo">Id</td>
            <td class="titulo">Nome</td>
            <td class="titulo">Descrição</td>
            <td class="titulo">Destino</td>
            <td class="titulo">Valor</td>    
            <td class="titulo">Deseja Excluir?</td>
        </tr>
        {%for cobranca in cobrancas %}
        <tr>
            <td>{{ cobranca.cobranca_id }}</td>
            <td>{{ cobranca.cobranca_nome }}</td>
            <td>{{ cobranca.cobranca_descricao }}</td>
            <td>{{ cobranca.cobranca_remetente }}</td>
            <td>{{ cobranca.cobranca_valor }}</td>
            
            <form action="/cobrar/" method="DELETE" >
            <td><button class="btn-excluir">x</button></td>
            </form>
        </tr>
        {% endfor %}
    </table>
    <a class="voltar" href="/home">Voltar</a>
</body>
</html>